@font-face {
  font-family: standardFont;
  src: url('quicksand/Quicksand-VariableFont_wght.ttf');
}
@font-face {
  font-family: consoleFont;
  src: url('inconsolata/Inconsolata-VariableFont_wdth.ttf');
}

body {
  background-color: #777;
  color: white;
  font-family: standardFont;
}

.consoletext {
  line-height: 2vh;
  font-size: 1.5vw;
}

#consoleinput:focus {
  outline: none;
  background-color: #202020;
}

#consoleinput {
  background-color: #121212;
  font-size: 1.25vw;
  font-family: consoleFont;
  width: 59.5vw;
  margin-bottom: 2vh;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 6px;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
#consoleinput:hover {
  background-color: #202020;
}
#console {
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  padding-bottom: 2vh;
  border-color: white;
  border-width: 3px;
  border-style: inset;
  width: max-content;
  height: max-content;
  background-color: black;
  font-family: consoleFont;
}
#consolee {
  overflow-y: scroll;
  padding-left: 1.25vw;
  padding-bottom: 2vh;
  border-color: white;
  border-width: 3px;
  border-style: inset;
  width: 30vw;
  height: max-content;
  background-color: black;
  font-family: consoleFont;
}
#submit {
  width: 7.5vw;
  font-family: consoleFont;
  background-color: #202020;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
#submit:hover {
  background-color: #424242;
  cursor: pointer;
}
.consoleetext {
  line-height: 1.25vh;
  font-size: 1vw;
}

#popup {
  font-size: 1.05vw;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #404040;
  color: #fff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}